#contact_modal {
    display: none;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

.file-media-grid {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.dateMediaAbsolute {
    background-color: #901C1C;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.66);
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 3px 6px;
}

.filter-title {
    font-size: 18px;
    font-weight: 600;
}

.photographHeader__price {
    position: fixed;
    background-color: #D3573C;
    color: #e2e3e5;
    right: 25px;
    bottom: 0;
    padding: 15px 25px;
    border-radius: 8px 8px 0 0;
}



/* Bouton filtrer images */
/*.dropbtn {*/
/*    font-size: 16px;*/
/*    cursor: pointer;*/
/*}*/

/*.dropdown-content a {*/
/*    display: block;*/
/*    color: black;*/
/*    padding: 8px 12px;*/
/*    text-decoration: none;*/
/*}*/


.dropdown-content a:hover {
    background-color: #600f0f;
}
