#contact_modal {
    display: none;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

.file-media-grid {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.dateMediaAbsolute {
    background-color: #901C1C;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.66);
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 3px 6px;
}

.filter-images {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 85px 100px 0 100px;
}

.filter-title {
    font-size: 18px;
    font-weight: 600;
}

.photographHeader__price {
    position: fixed;
    background-color: #D3573C;
    color: #e2e3e5;
    right: 25px;
    bottom: 0;
    padding: 15px 25px;
    border-radius: 8px 8px 0 0;
}



/* Bouton filtrer images */
/*.dropbtn {*/
/*    font-size: 16px;*/
/*    cursor: pointer;*/
/*}*/

/*.dropdown-content a {*/
/*    display: block;*/
/*    color: black;*/
/*    padding: 8px 12px;*/
/*    text-decoration: none;*/
/*}*/


.dropdown-content a:hover {
    background-color: #600f0f;
}



/* Gallery */
.modalPlayed {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}

.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.close {
    position: fixed;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: fixed;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}