/* Medium devices (tablets, less than 768px) */
@media all and (min-width: 767px) and (max-width: 980px) {
  .photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
  }

  .photograph-images {
    grid-template-columns: 1fr 1fr;
  }

  header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767px) {
  body {
    padding-bottom: 50px;
  }

  .photographHeader {
    width: auto;
    gap: 25px;
    justify-content: center;

    &__userInfos {
      text-align: center;
    }
  }

  .photographer_section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 70px;
    margin-top: 100px;
  }

  header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
  }

  .photograph-images {
    grid-template-columns: 1fr!important;
    margin: 0;
  }

  .filter-images {
    margin: 0;
  }
}