/* Gallery */
.modalPlayed {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 68px;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: #fff;
}

.modal-content {
  margin: auto;
  display: block;
  width: auto;
  max-width: 100%;
  max-height: 85vh;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: start;
  color: $primaryColor;
  padding: 10px 0;
}

.modal-content, #caption {
  //height: 82vh;
  //object-fit: cover;
  animation-name: zoom;
  animation-duration: 0.6s;
}






.close {
  position: fixed;
  top: 15px;
  right: 35px;
  color: $primaryColor;
  font-size: 62px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: $primaryColor;
  text-decoration: none;
  cursor: pointer;
}

.prev, .next {
  cursor: pointer;
  position: fixed;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: $primaryColor;
  font-weight: bold;
  font-size: 32px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
}

.prev:hover, .next:hover {
  background-color: #ccc;
}

@keyframes zoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}