// Header Infos //
.photographHeader {
  display: flex;
  background-color: #FAFAFA;
  justify-content: space-between;
  padding: 50px;

  &__userInfos {
    & h2 {
      font-size: 62px;
      color: $primaryColor;
      margin: 0;
      font-weight: 400;
    }

    &__userCountry {
      font-size: 22px;
      color: $primaryColor;
      margin-bottom: 0;
    }

    &__userQuote {

    }

  }

  &__userPicture {
    width: 215px;
    height: 215px;
    border-radius: 100%;
    object-fit: cover;
  }

  &__divContactBtn {
    display: flex;
    justify-content: center;
  }

  &__contactButton {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
  }
}

.photograph-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
}

// dropdown filter //
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #901C1C;
  min-width: 150px;
  z-index: 1;
  border-radius: 0 0 5px 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-icon {
  height: 16px;
  width: 16px;
  fill: #fff;
  transition: transform 0.3s ease;
}

.btnToggled .dropdown-icon {
  transform: rotate(180deg);
}

.btnFilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 14px 14px;
  text-align: start;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;

  &__list {
    display: block;
    width: 150px;
    font-size: 1rem!important;
    font-weight: bold!important;
    color: white!important;
    padding: 14px 14px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background-color: #600f0f;
    }
  }
}

.show {
  display:block;
}

.btnToggled {
  border-radius: 5px 5px 0 0;
}

.separator {
  height: 1px;
  width: 95%;
  background-color: #fff;
}


// //

.media-infos-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;

  & p {
    margin-bottom: 0;
  }
}

.divMediaRelative {
  display: flex;
  position: relative;
  cursor: pointer;
}

.filter-images {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 85px 0 20px 0;
}

#likeBtn {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;

  & i {
    color: $primaryColor;
  }

}